<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="it.unibz.pomodroid" android:versionCode="12"
	android:versionName="0.9.0">
	<application android:icon="@drawable/pomo_ico"
		android:label="@string/app_name" android:theme="@style/MyTheme">
		<service android:name="PomodoroService" android:enabled="true" />
		<activity android:name=".TabPomodroid" android:label="@string/app_name">
		</activity>
		<activity android:name=".Pomodroid" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ActivityInventorySheet"
			android:label="@string/ais">
		</activity>
		<activity android:name=".TodoTodaySheet" android:label="@string/tts">
		</activity>
		<activity android:name=".CleanDatabase" android:label="@string/app_name">
		</activity>
		<activity android:name=".Services" android:label="@string/services">
		</activity>
		<activity android:name=".TabPreferences" android:label="@string/settings">
		</activity>
		<activity android:name=".ListServices" android:label="@string/services">
		</activity>
		<activity android:name=".EditService" android:label="@string/service_edit">
		</activity>
		<activity android:name=".EditActivity" android:label="@string/activity_edit">
		</activity>
		<activity android:name=".TrashSheet" android:label="@string/ts">
		</activity>
		<activity android:name=".Pomodoro" android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name=".Preferences" android:label="@string/settings">
		</activity>
		<activity android:name=".About" android:label="@string/about">
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
</manifest> 